
# Python
__pycache__/
*.py[cod]
*.so


# Packaging / Virtual Env

.Python
env/
.venv/
build/
dist/
*.egg-info/
.eggs/


# Logs & caches

*.log
.cache/
.mypy_cache/
.pytest_cache/

# IDEs
.idea/
.vscode/
.spyproject/


# Jupyter

.ipynb_checkpoints/


# Environment variables
.env

# OS files

.DS_Store

# DATA (DVC controlled)

/data/*
!/data/*.dvc


# MODELS & ARTIFACTS (DVC controlled)
notebooks/*.pkl
notebooks/mlruns/
!notebooks/*.dvc

# DVC internals

.dvc/cache/


# Model files (DO NOT PUSH)

*.pkl
*.joblib
*.h5
*.pt
*.bin

# Data files

data/
*.csv
*.parquet

mlflow.db

