# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.so

# ===============================
# Virtual Environments
# ===============================
env/
.venv/
.Python
build/
dist/
*.egg-info/
.eggs/

# ===============================
# Logs & Cache
# ===============================
*.log
.cache/
.mypy_cache/
.pytest_cache/

# ===============================
# IDEs
# ===============================
.idea/
.vscode/
.spyproject/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Environment Variables
# ===============================
.env

# ===============================
# OS
# ===============================
.DS_Store

# ===============================
# DVC DATA (IMPORTANT)
# ===============================
data/**
!data/**/*.dvc
!data/**/.gitignore
# ===============================
# Models & Artifacts (NEVER PUSH)
# ===============================
*.pkl
*.joblib
*.h5
*.pt
*.bin

# ===============================
# MLflow
# ===============================
mlruns/
mlflow.db

# ===============================
# DVC internals
# ===============================
.dvc/cache/
