
# Python
__pycache__/
*.py[cod]


# Virtual env

env/
.venv/

# IDE

.vscode/
.idea/

# MLflow (NOT DVC)

mlruns/
mlflow.db


# NOTEBOOKS 
notebooks/


# MODELS 
*.pkl
*.joblib
*.h5
*.pt
*.bin

# DATA 
/data/*
!/data/*.dvc


# ARTIFACTS
/artifacts/*
!/artifacts/*.dvc


# DVC internals

.dvc/cache/
